<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @dog.name %></h2>
    </div>

    <% @dog.images.each do | image | %>
      <div class="col-md-3 d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm">
          <%= image_tag url_for(image), class: 'dog-photo', alt: "Photo of #{@dog.name}" %>
        </div>
      </div>
    <% end %>

    <div class="col-md-12">
      <p><%= @dog.description %></p>
    </div>

    <div class="col-md-12">
      <p><%= @dog.likes.count %> <%= (@dog.likes.count == 1) ? 'Like' : 'Likes' %></p>
      <% if user_signed_in? && @dog.user_id != current_user.id %>
        <%= button_to 'Like', dog_likes_path(@dog), class: 'btn btn-secondary', method: :post %>
      <% end %>
    </div>

    <div class="col-md-12">
      <% if user_signed_in? && @dog.user_id == current_user.id %>
        <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path, class: 'btn btn-primary' %>
        <br><br>
        <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
</div>
